{% extends "base.html.twig" %}
{% block title %}Citations - Accueil{% endblock %}
{% block body %}
<div class="container mt-4">
<div class="jumbotron">
    <h1 class="display-4">Bienvenue sur Citations</h1>
    <hr class="my-4">
    <p>Pour commencer, veuillez vous connecter pour accéder a la page des citations</p>
    <a class="btn btn-primary btn-lg" href="{{ path('security.login') }}" role="button">Connexion</a>
  </div>
</div>
{% endblock  %}